<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lets Talk</title>

    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <nav><img class="logo" src="/logo.jpg" alt="" srcset="" /></nav>
    <div class="container">
      <div class="alert false" id="name"><%= name %></div>
      <!-- <div class="message left">person1:hello how are yoi</div>

      <div class="message right">person2 : i am fine</div> -->
    </div>

    <!-- sending msg -->
    <div class="send">
      <input type="text" name="messageTXT" id="messageTXT" class="inputFLD" />
      <button class="btn" id="btn">Send</button>
    </div>
    <!-- Add this in your HTML file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>

    <script src="/js/script.js"></script>
  </body>
</html>
