<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>choose</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <button class="button">
      <a href="/chat">Click here!! to talk to your friends</a>
    </button>

    <br />
    <button class="button">
      <a href="/ticTacToe">Play fun game of tic-tac-toe with your friends</a>
    </button>
  </body>
</html>
