<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <h1 class="button">
      Welcome to the awesome chat app please Login or sign up to enter chat
      Group
    </h1>
    <button class="button"><a href="/signup">Sign Up</a></button>

    <br />
    <button class="button"><a href="/login">Login</a></button>
  </body>
</html>
