<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <h1 class="button">Sign Up</h1>

    <form action="/signup" method="post">
      <input
        type="type"
        id="username"
        name="username"
        required
        class="inputFLD"
        placeholder="Username"
      />
      <br />

      <input
        type="password"
        id="password"
        name="password"
        required
        class="inputFLD"
        placeholder="Password"
      />
      <br />
      <input type="submit" value="Sign Up" class="btn" />
    </form>
    <br />
    <a href="/">Back to Home</a>
  </body>
</html>
